<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CISDotnetGroupProject.DataAccessLayer.Properties.Settings.CISStudentEvaluationSystemDatabase"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AppData\StudentEvaluationSystemDatabase.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="CISDotnetGroupProject.Properties.Settings.StudentEvaluationSystemDatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\nkaru\Desktop\Fall\C#\Project\C-sharp proj\CISGroupProject\CISDotnetGroupProject.DataAccessLayer\AppData\StudentEvaluationSystemDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>